{% extends "base.html" %}

{% block title %}Cars{% endblock %}

{% block content %}
    <h1>Car</h1>
    Name: {{ pers.name }} <br>
    Number: {{ pers.regnr }}
    <p>
        <button>
            {% if index < max_index %}
                <a href="{{ url_for('person_view', index=index+1) }}">
                    Next car
                </a>
            {% else %}
                <a href="{{ url_for('person_view', index=0) }}">
                    Start over
                </a>
            {% endif %}
        </button>
    </p>
    </br></br>
    <a href="{{ url_for('welcome') }}">
        Home
    </a>

{% endblock %}
